body {
    background-color: gray;
    font-family: Papyrus, "Times New Roman", sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: center;
}

ul,
ol {
    display: inline-block;
    text-align: left;
}

#mapotofuimg {
    height: 600px;
    width: auto;
}

#tunacasseroleimg {
    height: 600px;
    width: auto;
}